.pageHeader {
    background-color: bisque;
    min-height: 80px;
    width: 100%;
    padding: 10px;
}

.pageHeader h1 {
    float: left;
    margin-right: 50px;
}

.logo{
    width: 100px;
    border-radius: 50%;
}

.imgheader{
    height: auto;
    width: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.Webheader{
    vertical-align: middle;
}

.pageHeader ul.nav {
    margin-top: 30px;
    text-align: centre;
    margin: auto;
}   

.pageHeader a.nav li {
    display:inline;
    padding: 20px;
    font-size: 1.5em;
    color: brown;
}


.topnav-right{
    float: right;
    padding: 5px;
    margin: 5px;

}

.searchBox {
    padding: 5px;
    margin: 5px;
    text-align: right;
    justify-content: right;
}
